html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 4rem; /* Height of Footer */
  min-height: 100%;
}

.not-scrolled > header > h2 {
  opacity: 0;
}

.not-scrolled > header {
  box-shadow: none;
}
